body, .box{
    min-width: 500px;
}

.centerr{
    padding-top:100px;
}

.google-logo
{
    display: flex;
    justify-content: center;
}

.box{
    height: 140px;
    margin: 0 auto;
    padding:20px;
    box-sizing: border-box;
}

.search-box{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width:auto;
    max-width: 584px;
    height: 44px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    flex-wrap:wrap;
    align-items:center;
}

.search-input{
    background-color: transparent;
    border:none;
    padding: 5px;
    color: black;
    font-size: 16px;
    flex-grow:1;
}

input:focus{
    outline: none;
}

.material-icons.md-18{
    display:flex;
    padding-left:8px;
    padding-right: 8px;
    color: rgba(0, 0, 0, 0.36); 
    font-size: 20px;
}

.button{
    display:flex;
    justify-content: center;
    padding-top:18px;
}

.buttons
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor:pointer;
}

div.search-box:hover{
    box-shadow: black;
}

.pfp{
    height: 32px;
    border-radius: 32px;
    margin: 0 8px;
}

#apps-icon{
    font-size:24px;
    color: rgba(0, 0, 0, 0.56); 
    padding-left:27px;

}

.navbar{
    font-family:arial, sans-serif;
    font-size: 13px;
    display:flex;
    justify-content:flex-end;
    height: 48px;
}
li{
    padding-left: 15px;
}

ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0 ;
}

.footer-1, .footer-2{
    color:#222;
    font-family: arial, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid  #dadce0;
}

footer{
position:fixed;
bottom:0;
background-color: #f2f2f2;
width:100%;
min-width: 500px;
}

.footer-1{
    padding: 15px 30px; 
    color: rgba(0,0,0,.54);

}

.footer-2{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-2-1{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:15px;
}

.abc{
    padding: 15px;
    max-width:max-content; 
    word-wrap: normal;
    color: rgba(0,0,0,.54);
}

.footer-2-2{
    padding: 0 20px;
}

.search-box:hover{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.01), 0px 2px 5px 1px  rgba(0, 0, 0, 0.16);
}

.buttons:hover{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.01), 0px 0px 0px 1px  rgba(0, 0, 0, 0.20);
}